{block content}
{*<div class="day_question_title">Otázka dne</div>*}
<div id="question">
    <div class="question_of_day">
        Co podle tebe představuje EU (Evropská unie)<br />
        a co je jejím cílem ?
        <div class="fade_answer_form">Odpovědět na otázku</div>
        {control answerForm}
    </div>
    <div class="question_of_day_answer">

    </div>
</div>
{/block}