
@font-face
{
    font-family: Roboto Bk;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face
{
    font-family: Roboto Lt;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face
{
    font-family: Raleway Lt;
    src: url('../fonts/Raleway-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
}

html{
    /* background-repeat: no-repeat;
     background-image: url('/images/wallpaper.jpg');
     background-size: cover;
     background-position-y: -22%;*/
}

header a{
    float: left;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

header{
    z-index: -1;
    float: left;
    width:100%;
    font-size: 30pt;
    font-family: Raleway Lt;
    color: white;
    background: #cccc00;
    padding-top:10px;
    padding-bottom: 10px;
    height:48px;
}

header #menu{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 16pt;
    font-family: Roboto Bk;
}

header #menu li{
    cursor: pointer;
    color: white;
    display: inline-block;
}

header #menu li{
    margin-right: 15px;
}

#question{
    margin: 0 auto;
    width: 472px;
    text-align: center;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 20px;
}

.question_of_day{
    display: inline-block;
    text-align: center;
    color:#333333;
    font-family: Roboto Lt;
    font-size: 17pt;
}
.question_of_day_answer{
    display: inline-block;
}

.fade_answer_form{
    font-size: 14pt;
    color: crimson;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

#frm-answerForm{
    margin: 0 auto;
    display: table;
    margin-top: 20px;
}

#frm-answerForm-answer{
    width: 70vh;
    height: 70px;
    border:1px solid #CCCC33;
    resize: none;
    color:#333333;
}

#frm-answerForm input[type="submit"]{
    border:1px solid #CCCC33;
    background: #333333;
    color:white;
    padding: 8px;
    cursor: pointer;
    font-family: Roboto Lt;
    font-size: 14pt;
    margin-top: 10px;
}
.separator{
    margin: 0 auto;
    display: table;
    height: 1px;
    width: 100%;
    background: white;
    margin-top: 70px;
}

.separatorVertical{
    float: right;
    margin-top: 35px;
    height: 200px;
    margin-right: 25px;
    width: 1px;
    background: white;
}

.questionStatistic{
    float: right;
    margin-top: 35px;
    height: 160px;
    padding-top: 40px;
    margin-right: 55px;
    display: none;
}

.questionStatistic li{
    list-style-type: none;
    margin-top: 8px;
    font-family: Roboto Lt;
    font-size: 13pt;
    color:#333333;
}

.questionStatistic span{
    color:#CCCC33;
    font-weight: bold;
}

#tags{
    float: left;
    display: none;
}

#tags li{
    cursor: pointer;
    background: white;
    color:#333333;
    padding: 5px;
    padding-left: 10px;
    margin-top: 8px;
    font-family: Roboto Lt;

}


#tags li:first-of-type{
    cursor: auto;
    color: white;
    font-family: Roboto Lt;
    font-size: 16pt;
    border-bottom: 1px solid white;
    padding-left: 10px;
    margin-top: 15px;
    width: 120px;
    background: none;
}

.flash.info {
    text-align: center;
    background: #969d9e;
    color: white;
    font-weight: bold;
}

#answers{
    float: left;
    width: 100%;
    text-align: center;
}

.answer{
    font-family: Roboto;
    margin: 10px;
    padding: 15px;
    width: 250px;
    height: 80px;
    word-break: break-all;
    background: white;
    color:#737373;
    -webkit-box-shadow: 0 7px 4px #777;
    -moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
    border-radius: .2em;
    border: 1px solid #E2C822;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    display: inline-table;
}